#banner{
	background-color: #BF55EC;	
	height: 125px;
	border-radius: 10px;
}

body{
	background-color: #E9D460
}

.botForm{
	padding: 10px;
	margin: 20px;
	font-family: ubuntu;
}

#botInput{
	margin: 15px;
	height: 30px;
	width: 200px;
	font-size: 16px;
}

#bigTitle{
	text-align: center;
	font-family: ubuntu;
	padding-top: 5px;
	display: block;
}

#quoteContainer{
	display: inline;
	position: relative;
	margin-right: -450px;
	float: right;
}

.quoteText{
	margin-top: -30px;
}

.info{
	display: inline;
}

#makeButton{
	margin-left: 100px;
}

#mascot{
	height: 100px;
	width: 100px;
	position: relative;
	margin-right: 400px;
	display: block;
	margin-top: 25px;
	float: right;
}

#results{
	font-family: ubuntu;
}

.resultText{
	font-family: ubuntu;
}

.req{
	text-decoration: underline;
	display: inline;
}

.seperate{
	background-color: #BF55EC;
	height: 5px;
}

#subTitle{
	text-align: center;
	font-family: ubuntu;
	padding-bottom: 5px;
	position: relative;
	margin-bottom: -100px;
	display: block;
}

@font-face{
	font-family: ubuntu;
	src: url(../fonts/ubuntu-font-family-0.83/Ubuntu-M.ttf);
}

p.speech
{
	position: relative;
	width: 350px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	float: right;
}

p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 90px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 45px;
	top: 90px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}
